<a mat-button routerLink="/wallet"><mat-icon>keyboard_backspace</mat-icon></a>
<a mat-raised-button routerLink="/wallet/import">Import an existing Wallet</a>
<div *ngIf="(steps$ | async) as steps">
  <mat-vertical-stepper linear *ngIf="(mnemonic$ | async) as mnemonic" (selectionChange)="goToIndex($event)">
    <mat-step label="Generation">
      <app-mnemonic [mnemonic]="mnemonic" (reset)="goToStep(1)"></app-mnemonic>
      <button mat-raised-button matStepperNext>OK</button>
    </mat-step>
    <mat-step label="Verification" [completed]="steps > 2 ? true : false">
      <button mat-button matStepperPrevious><mat-icon>keyboard_backspace</mat-icon></button>
      <app-verification [mnemonic]="mnemonic" (valid)="goToStep(3)"></app-verification>
      <button *ngIf="steps > 2" mat-raised-button matStepperNext>OK</button>
    </mat-step>
    <mat-step label="Encryption">
      <button mat-button matStepperPrevious><mat-icon>keyboard_backspace</mat-icon></button>
      <app-encryption (encrypt)="encryptAndSave($event)"></app-encryption>
    </mat-step>
  </mat-vertical-stepper>
</div>
