<div>
  <span *ngIf="existingWallet; then: walletInfo; else: noWallet"></span>
  <ng-template #noWallet>
    <h1>There is no Wallet stored in this Browser</h1>
    <p>You can create a new Wallet or import an existing one :</p>
    <mat-tab-group>
      <mat-tab label="Create"><app-generation></app-generation></mat-tab>
      <mat-tab label="Import"><app-import></app-import></mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #walletInfo>
    <p>address: {{ address }}</p>
    <p>balance: {{ balance }}</p>

    <app-transaction></app-transaction>
  </ng-template>
</div>
